{% extends 'layouts/layout.html.twig' %}

{% block title %}Fitur Isi Ulang Uang Elektronik "E-commerce"{% endblock %}

{% block content %}

	<section id="support" class="overview-block-ptb banner iq-bg iq-bg-fixed iq-pb-80" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h2 class="title iq-tw-6">Fitur Isi Ulang Uang Elektronik "E-commerce"</h2>
                            <div class="divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="iq-page-blog overview-block-ptb">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="iq-blog-box">
							<div class="iq-blog-image clearfix">
								<img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/blog/1234.png" alt="#">
							</div>
							<div class="iq-blog-detail">
								<div class="blog-title"> <a href="blog-single.html"><h5 class="iq-tw-6">Blogpost With Image</h5> </a> </div>
								<div class="iq-blog-meta">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
										<li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
										<li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								<div class="blog-content">
									<p><strong>JAKARTA, KOMPAS.com</strong> - Bank Indonesia (BI) tengah melakukan pembekuan sementara (suspend) fitur isi ulang uang elektronik yang dimiliki sejumlah laman e-dagang atau e-commerce. Beberapa e-commerce tersebut baru mengurus izin kepada BI untuk fitur itu.</p>
									<p>Dikabarkan, beberapa <strong>e-commerce</strong> yang tengah mengajukan izin untuk fitur isi ulang uang elektronik milik mereka adalah Tokopedia, Shopee, dan Paytren. Selama proses perizinan berlangsung, maka e-commerce tersebut belum boleh menyelenggarakan layanan isi ulang uang elektronik miliknya. </p>
								</div>
								<blockquote class="iq-mtb-40">
									<p>"Tokopedia ingin agar TokoCash dapat dinikmati seluruh masyarakat Indonesia, termasuk di luar platform Tokopedia. Untuk mencapai tujuan tersebut, Tokopedia sedang mengajukan perizinan uang elektronik kepada Bank Indonesia. Sehubungan dengan proses perizinan tersebut, untuk sementara TokoCash tidak dapat di-top up, terhitung hari Rabu, tanggal 13 September 2017, pukul 23:59. Namun, seluruh fitur TokoCash (transaksi, cashback, refund, dan redeem Gift Card) akan tetap berfungsi seperti biasa,"</p>
									<footer>anouncer at
										<cite title="Source Title">Tokopedia.</cite>
									</footer>
								</blockquote>
								
							{# <div class="iq-post-author iq-mtb-20 iq-pall-30 green-bg">
								<div class="iq-post-author-pic iq-mr-25">
									<img alt="#" class="img-circle" src="images/testimonial/01.jpg">
								</div>
								<div class="iq-comment-content">
									<div class="iq-comment-author">
										<a class="lead iq-mtb-10 iq-tw-6 iq-font-white" href="#">Vishal Patolia</a>
									</div>
									<p class="iq-font-white">CEO &amp; It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								</div>
							</div>
							<div id="comments" class="iq-mt-30">
								<h3 class="heading-left iq-tw-6 ">Comments <small>/ 21</small></h3>
								<ol class="list-inline iq-comment-list">
									<li class="iq-mt-0">
										<div class="iq-comments-media">
											<div class="iq-comments-photo media-left"> <a href="#"><img alt="" class="media-object img-circle" src="images/testimonial/01.jpg"></a> </div>
											<div class="iq-comments-info media-body">
												<h5 class="title">Kevin Martin</h5>
												<div class="iq-comment-metadata"><a href="#"><i class="fa fa-calendar"></i>
													<span>July 18, 2014 at 1:26 pm</span>
												</a></div>
												<a href="#" class="reply button">Reply</a>
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
											</div>
										</div>
										<ul class="list-inline">
											<li>
												<div class="iq-comments-media">
													<div class="iq-comments-photo media-left"> <a href="#"><img alt="" class="media-object img-circle" src="images/testimonial/03.jpg"></a> </div>
													<div class="iq-comments-info media-body">
														<h5 class="title">Kevin Martin</h5>
														<div class="iq-comment-metadata"><a href="#"><i class="fa fa-calendar"></i>
															<span>July 18, 2014 at 1:26 pm</span>
														</a></div>
														<a href="#" class="reply button">Reply</a>
														<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li>
										<div class="iq-comments-media">
											<div class="iq-comments-photo media-left"> <a href="#"><img alt="" class="media-object img-circle" src="images/testimonial/02.jpg"></a> </div>
											<div class="iq-comments-info media-body">
												<h5 class="title">Kevin Martin</h5>
												<div class="iq-comment-metadata"><a href="#"><i class="fa fa-calendar"></i>
													<span>July 18, 2014 at 1:26 pm</span>
												</a></div>
												<a href="#" class="reply button">Reply</a>
												<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
											</div>
										</div>
									</li>
									<li>
										<div class="iq-comments-media">
											<div class="iq-comments-photo media-left"> <a href="#"><img alt="" class="media-object img-circle" src="images/testimonial/01.jpg"></a> </div>
											<div class="iq-comments-info media-body">
												<h5 class="title">Kevin Martin</h5>
												<div class="iq-comment-metadata"><a href="#"><i class="fa fa-calendar"></i>
													<span>July 18, 2014 at 1:26 pm</span>
												</a></div>
												<a href="#" class="reply button">Reply</a>
												<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
											</div>
										</div>
									</li>
								</ol>
							</div>
						</div> #}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}