{% extends 'layouts/layout.html.twig' %}

{% block title %}Daftar Merchant{% endblock %}

{% block content %}
  <section id="support" class="overview-block-ptb banner iq-bg iq-bg-fixed iq-box-shadow" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="heading-title">
              <h2 class="title iq-tw-6">Pendaftaran untuk Merchant</h2>
              <div class="divider"></div>
              <!-- <p>YAP! adalah aplikasi yang menjadikan pembayaran menjadi lebih mudah. Banyak manfaat yang bisa anda dapatkan ketika mnejadikan YAP! bagian dari hidup anda.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- test -->

  <section class="overview-block-pb">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScG_jsz_n_dv77Q21aj1HGKYohr4wlpibvUBl4wAd_jjhPMeA/viewform?embedded=true" width="100%" height="2100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </section>

{% endblock %}
