{% extends 'layouts/layout.html.twig' %}
{% block title %}Tentang Kami{% endblock %}
{% block content %}
    <!-- Frequently Asked Questions -->
    <section id="support" class="overview-block-ptb banner iq-bg iq-bg-fixed iq-box-shadow" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h2 class="title iq-tw-6">Tentang Kami</h2>
                            <div class="divider"></div>
                            <!-- <p>yap adalah aplikasi yang menjadikan pembayaran menjadi lebih mudah. Banyak manfaat yang bisa anda dapatkan ketika mnejadikan yap bagian dari hidup anda.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="iq-about grey-bg iq-mtb-40">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-sm-12 col-lg-5 col-md-5 iq-about-bg">
                    <!--div class="iq-bg about-img popup-gallery play-video"-->
                     <div class="videoWrapper">
                      <iframe width="475" height="421" src="https://www.youtube.com/embed/BZeoSfwI23I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <!--div class="iq-waves">
                            <div class="waves wave-1"></div>
                            <div class="waves wave-2"></div>
                            <div class="waves wave-3"></div>
                        </div>
                    </div-->
                    </div>
                </div>
                <div class="col-sm-12 col-lg-7 col-md-7 iq-pall-50">
                    <h2 class="heading-left iq-tw-6 ">Tentang Aplikasi yap</h2>
                    <p>Aplikasi yap merupakan suatu solusi metode pembayaran yang memungkinkan Nasabah menjadi inisiator atas transaksi di merchant. Metode pembayaran ini memerlukan media berupa aplikasi mobile yang dimiliki oleh nasabah dan merchant. Metode pembayaran
                    yang digunakan saat transaksi adalah dengan menggunakan QR Code scanner. Aplikasi yap telah disediakan dalam Android dan setiap device harus terkoneksi dengan jaringan internet</p>
                    <a class="button iq-mt-15" href="{{ app.request.basepath }}/public/assets/yap.pdf">Download Manual Book</a>
                </div>
            </div>
        </div>
    </section>
    <section class="overview-block-ptb white-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <h2 class="title iq-tw-6">Mengapa yap</h2>
                        <div class="divider"></div>
                        <p>yap adalah aplikasi yang menjadikan pembayaran menjadi lebih mudah. Banyak manfaat yang bisa anda dapatkan ketika menjadikan yap bagian dari hidup anda.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img class="img-responsive center-block" src="{{ app.request.basepath }}/public/assets/img/samsung_and_hand.png" alt="">
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="iq-accordion iq-mt-50">
                        <div class="ad-block ad-active">
                            <a href="" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    <i class="ion-ios-infinite-outline" aria-hidden="true"></i>
                                </span>
                                Kemudahan bertransaksi
                            </a>
                            <div class="ad-details">
                                <div class="row">
                                    <div class="col-sm-12">
                                        Kamu dapat berbelanja pada offline store yang merupakan merchant yap dan marketplace yang merupakan mitra yap
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    <i class="ion-ios-time-outline" aria-hidden="true"></i>
                                </span>
                                Keamanan lebih utama
                            </a>
                            <div class="ad-details">
                                Kami mengutamakan Keamanan dalam transaksi yang berlangsung dengan Konsumen Anda. Baik dari sisi Anda sebagai merchant ataupun Konsumen.
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="{{ '#' }}" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    <i class="ion-ios-compose-outline" aria-hidden="true"></i>
                                </span>
                                Solusi Pembayaran Online
                            </a>
                            <div class="ad-details">
                                <div class="row">
                                    <div class="col-sm-12">
                                        yap juga memiliki tools terintegrasi ke e-commerce yang Anda butuhkan sebagai alat pembayaran secara online, dengan transaksi debit, kartu kredit, bahkan penarikan uang.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    <i class="ion-ios-loop" aria-hidden="true"></i>
                                </span>
                                Top up deposite mudah
                            </a>
                            <div class="ad-details">
                                Anda dapat Deposit menggunakan ATM manapun dari 137 BANK di Indonesia.
                                Deposit melalui Mobile Banking, Internet Banking, maupun Setor  Tunai.
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    <i class="ion-ios-cart-outline" aria-hidden="true"></i>
                                </span>
                                Kemudahan transaksi
                            </a>
                            <div class="ad-details">
                                <ul class="circle iq-plr-20">
                                    <li>
                                        Berbelanja pada offline store yang merupakan merchant yapmu
                                    </li>
                                    <li>
                                        Berbelanja pada marketplace yang merupakan mitra yap
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ad-block">
                            <a href="#" class="ad-title iq-tw-6 iq-font-grey">
                                <span class="ad-icon">
                                    <i class="ion-ios-checkmark-outline" aria-hidden="true"></i>
                                </span>
                                Cara Kerja
                            </a>
                            <div class="ad-details">
                                <ul class="number iq-plr-20">
                                    <li>
                                        Daftar di Aplikasi yap
                                    </li>
                                    <li>
                                        Lakukan verifikasi
                                    </li>
                                    <li>
                                        Setelah akun Anda diverifikasi Anda bisa menggunakan semua Fitur yap.
                                    </li>
                                    <li>
                                        Dengan yap Anda bisa menerima uang, penarikan uang ke Bank, maupun berbelanja di merchant yapmu
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
