{% extends 'layouts/layout.html.twig' %}

{% block title %}Segera Hadir{% endblock %}

{% block content %}
    <!-- Frequently Asked Questions -->

    <section id="support" class="overview-block-ptb banner iq-bg iq-bg-fixed iq-box-shadow hv-100" style=" background: url({{ app.request.basepath }}/public/assets/img/header_blue.png);">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h2><i class="fa fa-gears fa-5x iq-font-white iq-pt-80"></i></h2>
                            <h2 class="text-center iq-font-white tw iq-pt-20">#SegeraHadir</h2>
                            <p>Halaman ini sedang dalam tahap pengembangan.</p>
                            <!-- <div class="divider"></div> -->
                            <!-- <p>YAP! adalah aplikasi yang menjadikan pembayaran menjadi lebih mudah. Banyak manfaat yang bisa anda dapatkan ketika mnejadikan YAP! bagian dari hidup anda.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
